name: JSON Link Guncelleyici
on: workflow_dispatch # Sen butona basınca çalışır

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Scripti Calistir
        run: python toplu_guncelle.py
      - name: Degisiklikleri Kaydet
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add .
          git commit -m "Test7-32 arası JSON linkleri otomatik güncellendi" || echo "Degisiklik yok"
          git push
